* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

:root {
  color-scheme: light only;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  /*No poner 100vw, ya que eso hace que el scrollbar ocupe espacio.*/
  background-color: var(--main-background-color);
  overflow: hidden;
  overflow-y: scroll;
  font-family: 'Helvetica', 'Arial', sans-serif;
  position: relative;
  height: 100vh;
  height: 100svh;
}

.main__container {
  width: 100%;
  display: flex;
}

svg {
  cursor: pointer;
}

img {
  height: auto;
  width: 100%;
}

@media (min-width: 1200px) {
  .App {
    overflow: hidden;
  }
}