.contact {
    display: flex;
    flex-direction: column;
    color: var(--name-color);
    font-size: 0.635rem;
    font-weight: 600;
    z-index: 1001;
    position: relative;
}

.contact__picture {
    display: block;
    border-radius: 50%;
    width: 46px;
    height: 46px;
}

.contact__name{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}