.loader{
    background:
        linear-gradient(0.25turn, transparent, rgb(220, 220, 220), transparent),
        linear-gradient(rgb(186, 186, 186), rgb(186, 186, 186));
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: -315px 0, 0 0, 15px 140px, 65px 145px;
    animation: loading 1.5s infinite;
    border-radius: 10px;
    overflow: hidden;
}

@keyframes loading {
  to {
    background-position: 315px 0, 0 0, 15px 140px, 65px 145px;
  }
}