.search__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    background-color: #212121;
    min-height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 1010;
    left: 0px;
    top: 0px;
    transform: translateX(-100%);
    transition: transform 250ms ease-in-out;
}

.search__form {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 190px;
}

.search__input {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
}

.search__input::placeholder {
    color: #9e9ea7;
}

.search__input:focus, .search__input:hover {
    outline: none;
    border-color: rgba(234,76,137,0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.search__icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
}

.search__result {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: auto;
    padding: 20px;
    gap: 30px;
}
   
/*Estilos para ajustar componente Contact*/
.search__container .contact {
    flex-direction: row;
    width: 100%;
    max-width: 250px;
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 10px;
    padding: 10px 20px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.search__container .contact__name {
    font-size: 1.2rem;
}

.show-search {
    transform: translateX(0%);
}