.search__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px;
    background-color: #212121;
    min-height: 100vh;
    height: 100vh;
    max-height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 1010;
    left: 0px;
    top: 0px;
    transform: translateX(-100%);
    transition: transform 250ms ease-in-out;
    z-index: 1250;
    padding-top: 50px;
    overflow: hidden;
}

.search__form {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 190px;
}

.search__input {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
}

.search__input::placeholder {
    color: #9e9ea7;
}

.search__input:focus, .search__input:hover {
    outline: none;
    border-color: rgba(234,76,137,0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.search__icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
}

.search__result {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 250px));
    grid-template-rows: repeat(auto-fit, 70px);
    grid-auto-rows: repeat(auto-fit, 100px);
    width: 100%;
    height: 100% !important;
    padding: 10px;
    padding-top: 40px;
    gap: 30px;
    overflow-y: auto;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.search__container .arrow-left {
    position: absolute;
    left: 30px;
    top: 30px;
}
   
/*Estilos para ajustar componente Contact*/
.search__container .contact {
    flex-direction: row;
    width: 100%;
    max-width: 250px;
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 10px;
    padding: 10px 20px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.search__container .contact__name {
    font-size: 1.2rem;
}

.show-search {
    transform: translateX(0%);
}

.tick {
    display: none;
    fill: rgb(32, 183, 1);
    position: absolute;
    top: 2px;
    right: 7px;
    height: 20px;
    width: 20px;
}

.show-added {
    display: flex;
}

.loader__container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}